.centerElement{
	text-align: center;
}
.signUp{
	width: 50%;
    display: inline-block;
}
.text-cente{
	text-align: center;
	font-size: 45px;
}
.regester{
	width: 30%;
}
.marginRight175{
	margin-right: 175px;
}