<div class="jumbotron">
  <h1  class="centerElement">Contact us</h1>
</div>
<div class="jumbotron ng-scope">
	<div class="input-group input-group-lg">
	  <span class="input-group-addon" id="sizing-addon1">Name</span>
	  <input type="text" class="form-control" placeholder="Enter Name" aria-describedby="sizing-addon1">
	</div>
	<br>
	<div class="input-group input-group-lg">
	  <span class="input-group-addon" id="sizing-addon1">Email</span>
	  <input type="text" class="form-control" placeholder="Enter Your Email" aria-describedby="sizing-addon1">
	</div>
	<br>
	<div class="input-group input-group-lg">
	  <span class="input-group-addon" id="sizing-addon1">Number</span>
	  <input type="text" class="form-control" placeholder="Enter Your Phone Number" aria-describedby="sizing-addon1">
	</div>
	<br>
	<textarea class="form-control" placeholer="Input Your Message">
	                                      </textarea>
	<br>
	<br>
	<p class="centerElement"><a class="btn btn-primary btn-lg" href="#" role="button">Submit</a></p>
</div>